<!DOCTYPE html>
<html lang="en">
  <!-------------------------------------------------------------------- Script -------------------------------------------------------------------->
  <script>
    function myFunction() {
      navigator.clipboard.writeText("FrancisBessette07@gmail.com")
        .then(() => {
          alert("Now send me an email!");
        })
        .catch(() => {
          alert("Something went wrong... But I can tell you that my email is FrancisBessette07@gmail.com");
        });
    }
  </script>

</html>