<!DOCTYPE html>
<html lang="en">
      <!-------------------------------------------------------------------- Article Text -------------------------------------------------------------------->
      <article class="about  active" data-page="invertedPendulum">
        <header>
          <h2 class="h2 article-title">Inverted Pendulum</h2>
        </header>
        <section class="about-text">
          <p>
            As part of my control system class, we were tasked with building an inverted pendulum that could
            resist some external forces. During this semester my teammate and I were faced with applying balancing technical
            that we saw in class. On top of this, we wanted to stay under our budget of $100.
          </p>
          <p>
            The genesis of the design process began with a simple sketch, drawing inspiration from readily available
            components to ensure both affordability and functionality. Embracing the versatility of 3D printing, we opted
            to customize the printed parts to allow for a lower spending budget.
          </p>
          <p>
            With careful calibration and test prints we were able to print beautiful parts that didn't need any fastning.
            All parts are held by friction/interference fits. 
          </p>
          <p>
            By following the diagram below and the  repo on my profile you should also be able to build and adapt your own inverted pendulum.
            Credit to Ian Carey for the bases of the Arduino code.
          </p>
          <p>
            <a href="https://github.com/Francis-Bessette/invertedPendulum">My inverted pendulum repo</a>
            <a href="https://iancarey.ie/projects/invertedpendulum">Ian Carey inverted pendulum</a>
          </p>
          <div class="column">
            <img src="./assets/images/InvertedPendulumWiringDiagram.png" id="rcimage" alt="Inverted Pendulum"
              style="max-width:95%;border:2px solid #F1D16C;">
          </div>
          <div class="column">
            <img src="./assets/images/WIP.png" id="rcimage" alt="Inverted Pendulum"
              style="max-width:95%;border:2px solid #F1D16C;">
          </div>
        </section>
      </article>
    </div>
  </main>
</html>