<!DOCTYPE html>
<html lang="en">
    <!-------------------------------------------------------------------- Title -------------------------------------------------------------------->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="I bring a unique perspective to my work in mechanical engineering, blending technical knowledge with a keen 
					  understanding of business.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Francis Bessette</title>
	<!-------------------------------------------------------------------- Favicon -------------------------------------------------------------------->
	<link rel="shortcut icon" href="./assets/images/Francis-Bessette-Favicon.png" type="image/x-icon">
	<!-------------------------------------------------------------------- Custom CSS link -------------------------------------------------------------------->
	<link rel="stylesheet" href="./assets/css/style.css">
	<!-------------------------------------------------------------------- Google Font Link-------------------------------------------------------------------->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</html>